<div class="container-fluid">
<div class="row">
<div class="col-md-3"><h1>Title</h1></div>
<div class="col-md-3"><h1>Body</h1></div>
<div class="col-md-3"><h1>Image</h1></div>
<div class="col-md-3"><h1>Created By</h1></div>
</div>
<div class="row">
<div class="col-md-3"><h3><%= @article.title %></h3></div>
<div class="col-md-3"><p><%= @article.body %></p></div>
<div class="col-md-3"><%= image_tag @article.image.url(:thumb)%> <%= link_to "download", @article.image.url(:thumb), download: true %>
</div>
<div class="col-md-3"><%= @article.user.email %></div>
</div>





<ul>
<% if @article.user == current_user%>
<li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Destroy", article_path(@article),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
<% end %>
</ul>

<h2>Comments</h2>
<% @article.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
</div>